@model AllCarsViewModel

@{
    ViewData["Title"] = "All Cars";
}

<!-- Title -->
<h2>All Cars</h2>

<!-- Table -->
<table class="table">
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Passenger Seats</th>
        <th>Description</th>
        <th>Price Per Day</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Actions</th>
        }
    </tr>

    @{
        var requests = Model.Cars as CarListingViewModel[] ?? Model.Cars.ToArray();
        for (int i = 0; i < requests.Length; i++)
        {
            var n = requests[i];

            <tr>
                <td>@n.Brand</td>
                <td>@n.Model</td>
                <td>@n.Year</td>
                <td>@n.PassengerSeats</td>
                <td>@n.Description</td>
                <td>@n.PricePerDay</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="button-edit" href="@Url.Action("Edit", "Cars", new { id = n.Id })">Edit</a>
                        <a class="button-details" href="@Url.Action("Details", "Cars", new { id = n.Id })">Details</a>
                        <a class="button-delete" href="@Url.Action("Delete", "Cars", new { id = n.Id })">Delete</a>
                    </td>
                }
            </tr>
        }
    }
</table>
